<nav class="navbar navbar-expand-lg navbar-dark sticky-top start-menu">
    <a class="navbar-brand" href="/inicio">
        <img src="public/img/logo-removebg-preview.png" alt="Logo Moto Move" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link menu-list" href="/admin">Voltar</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<div class="list p-5">
    <table class="table">
        <thead>
            <tr>
                <h4>Corridas</h4>
                <hr>
            </tr>
            <tr>
                <th> </th>
                <th>ID</th>
                <th>CPF Passageiro</th>
                <th>CNH Piloto</th>
                <th>Destino</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><ion-icon name="map-outline"></ion-icon></th>
                <th>1</th>
                <td>000.000.000.00</td>
                <td>000000000000</td>
                <td>Centro</td>
                <td>R$ 12,50</td>
            </tr>
            <tr>
                <th scope="row"><ion-icon name="map-outline"></ion-icon></th>
                <th>2</th>
                <td>111.111.111.11</td>
                <td>111111111111</td>
                <td>Shopping</td>
                <td>R$ 25,60</td>
            </tr>
            <tr>
                <th scope="row"><ion-icon name="map-outline"></ion-icon></th>
                <th>3</th>
                <td>222.222.222.22</td>
                <td>222222222222</td>
                <td>Instituto Federal</td>
                <td>R$ 17,00</td>
            </tr>
            <tr>
                <th scope="row"><ion-icon name="map-outline"></ion-icon></th>
                <th>4</th>
                <td>333.333.333.33</td>
                <td>333333333333</td>
                <td>Centro</td>
                <td>R$ 11,90</td>
            </tr>
            <tr>
                <th scope="row"><ion-icon name="map-outline"></ion-icon></th>
                <th>5</th>
                <td>444.444.444.44</td>
                <td>444444444444</td>
                <td>Cinema</td>
                <td>R$ 9,50</td>
            </tr>
            <tr>
                <th scope="row"><ion-icon name="map-outline"></ion-icon></th>
                <th>6</th>
                <td>555.555.555.55</td>
                <td>555555555555</td>
                <td>Museu</td>
                <td>R$ 30,40</td>
            </tr>
        </tbody>
    </table>
</div>