<nav class="navbar navbar-expand-lg navbar-dark sticky-top start-menu">
    <a class="navbar-brand" href="/inicio">
        <img src="public/img/logo-removebg-preview.png" alt="Logo Moto Move" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <button class="nav-link menu-list" type="button" data-bs-toggle="modal"
                    data-bs-target="#modalCadastroCorrida">Cadastrar corrida</button>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-list" href="/admin">Voltar</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<div class="list p-5">
    <table class="table">
        <thead>
            <tr>
                <h4>Corridas</h4>
                <hr>
            </tr>
            <tr>
                <th> </th>
                <th>CPF Passageiro</th>
                <th>CNH Piloto</th>
                <th>Destino</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {{#each races}}
            <tr>
                <th scope="row"><ion-icon name="map-outline"></ion-icon></th>
                <td>000.000.000.00</td>
                <td>000000000000</td>
                <td>Centro</td>
                <td>R$ 12,50</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal para cadastro de corrida -->
<div class="modal" id="modalCadastroCorrida">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <div class="container form-container">
                        <div class="form-header">
                            <h3>Cadastro para Corrida</h3>
                            <hr>
                        </div>
                        <div class="form-body">
                            <form action="" method="">
                                <div class="alert alert-success" role="alert">
                                    Exemplo mensagem de sucesso.
                                </div>
                                <div class="alert alert-danger" role="alert">
                                    Exemplo mensagem de erro.
                                </div>
                                <div class="row p-2">
                                    <div class="col">
                                        <select name="cpf" id="cpf" class="form-select">
                                            <option value="">Escolha um passageiro</option>
                                            {{!-- {{#each passengers}} --}}
                                                <option value="{{passengers.cpf}}">{{passengers.nome}}</option>
                                            {{!-- {{/each}} --}}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select name="cnh" id="cnh" class="form-select">
                                            <option value="">Escolha um piloto</option>
                                            {{#each pilots}}
                                                <option value="{{cnh}}">{{nome}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Destino" name="destino"
                                            id="destino" required>
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Valor" name="valor"
                                            id="valor" required>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col text-center">
                                        <button class="btn button" type="submit">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>