<div class="dashboard row">
    <div class="side-bar col-2">
        <div class="container p-4">
            <img src="../public/img/logo-removebg-preview.png" alt="Logo Moto Move" height="60" class="mb-4">
            <ul class="list-unstyled">
                <li class="p-1"><ion-icon name="person-add-outline"></ion-icon> Novo Cliente</li>
                <hr>
                <li class="p-1"></ion-icon><ion-icon name="bicycle-outline"></ion-icon> Novo Motorista</li>
                <hr>
                <li class="p-1"><ion-icon name="log-out-outline"></ion-icon> Sair</li>
            </ul>
        </div>
    </div>
    <div class="content col-2 p-5">
        <div class="item p-4"><ion-icon name="person-outline"></ion-icon>
            <h5>Clientes Cadastrados</h5>
        </div>
        <div class="item p-3"><ion-icon name="bicycle-outline"></ion-icon>
            <h5>Motoristas Cadastrados</h5>
        </div>
        <div class="item p-4"><ion-icon name="map-outline"></ion-icon>
            <h5>Corridas</h5>
        </div>
    </div>
</div>