<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/style.css">
    <title>{{{title}}}</title>
</head>

<body>
    {{{body}}}
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

<!-- Footer -->
<footer class="text-center infos">
    <div class="container p-4">
        <div class="row">
            <div class="col">
                <ul class="list-unstyled">
                    <li>
                        <p>
                        <h5>Desenvolvido por:</h5>
                        </p>
                    </li>
                    <li>
                        <p>Caroline Melo</p>
                    </li>
                    <li>
                        <p>Filipe Silva</p>
                    </li>
                    <li>
                        <p>Iago Ananias</p>
                    </li>
                    <li>
                        <p>Luan Dias</p>
                    </li>
                </ul>
            </div>

            <div class="col">
                <ul class="list-unstyled">
                    <li>
                        <p>
                        <h5>Projeto Interdisciplinar:</h5>
                        </p>
                    </li>
                    <li>
                        <p>Programação Web II</p>
                    </li>
                    <li>
                        <p>Banco de Dados II</p>
                    </li>
                </ul>
            </div>

            <div class="col">
                <ul class="list-unstyled">
                    <li class="p-3">
                        <a href="https://www.instagram.com/" class="text-dark" target="_blank"><ion-icon name="logo-instagram" class="social"></ion-icon></a>
                    </li>
                    <li class="p-3">
                        <a href="https://www.facebook.com/" class="text-dark" target="_blank"><ion-icon name="logo-facebook" class="social"></ion-icon></a>
                    </li>
                    <li class="p-3">
                        <a href="https://www.twitter.com/" class="text-dark" target="_blank"><ion-icon name="logo-twitter" class="social"></ion-icon></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3 copyright">
        © Copyright 2023 - Moto Move - Todos os direitos reservados.
    </div>
</footer>

</html>